<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
</head>
<body>
    <h3>Product List</h3>
    <a href="/product/create"><button type="button">Create</button></a>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Image</th>
            <th colspan="2">Action</th>
        </tr>
        <% for(let i = 0; i < products.length; i++) { %>
            <tr>
                <td><%= i + 1 %> </td>
                <td><%= products[i].name %> </td>
                <td><%= products[i].price %></td>
                <td><%= products[i].amount %></td>
                <td><img src="<%=products[i].image %>"  width='150px' height='150px'></td>
                <td><a href="/product/update/<%= products[i].id%>"><button>Update</button></a></td>
                <td><a href="/product/delete/<%= products[i].id%>"><button>Delete</button></a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>